#root {}

.light {
    color: rgb(30, 30, 30);
    background-color: white;
}

.dark {
    color: rgb(226, 226, 226);
    background-color: rgb(30, 30, 30);
}

.active li {
    background-color:#FF6C1A;

}

.sadobl {
    text-shadow: 2px 2px 5px #000000;
}
.inputfoc:focus{
    outline: none;
    border: none;
}